{% extends "base.html" %}

{% block content %}
<div class="unit">
    <legend><h2>Create app</h2></legend>
    <form class="form-horizontal" name="register" action="." method="POST">{% csrf_token %}
        {% if error %}
            <div class="alert alert-error">{{ error }}</div>
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="inputAppName">
                App Name:
            </label>
            <div class="controls">
                <input id="inputAppName" type="text" name="appname">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class='btn' type="submit" value="Create">
            </div>
        </div>
    </form>
</div>
{% endblock %}
