{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
{% endblock %}

{% block active_dashboard %}class="active"{% endblock %}

{% block content %}
<div class="unit">
    <legend><h1 class="pull-center">
           Welcome, {{ request.user.get_full_name }}! 
    </h1></legend>
    <div>
        {% if user.is_active %}
        <div>
            <p>Here are some apps you created.</p>
            <ul>
                {% for app in request.user.appuser.application_set.all %}
                <li>
                    <a href={% url 'application_app' app.pk %}>{{ app.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
            <a href="{% url 'application_create' %}" class="btn btn-primary">Create new app!</a>
        {% else %}
        <div class="span6">
            <p>You haven't active your account</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
