{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
{% endblock %}

{% block active_dashboard %}class="active"{% endblock %}

{% block content %}
<div class="unit">
    <legend>
        <h1 class="pull-center">
            Welcome, {{ request.user.get_full_name }}!
        </h1>
    </legend>
    {% if user.is_active %}
    <a href="{% url 'application_create' %}" class="btn btn-primary" style="float: right; display: inline-block;">Create</a>
    <div>
        <div>
            <p>Here are some apps you created.</p>
            <ul>
                {% for app in request.user.appuser.application_set.all %}
                <li>
                    <a href={% url 'application_app' app.pk %}>{{ app.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
    <div>
        <div class="span6">
            <p>You haven't active your account</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
