{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
    <link href="{% static "css/home.css" %}" rel="stylesheet">
{% endblock %}
{% block active_home %}class="active"{% endblock %}
{% block content %}
    <div class="hero-unit">
        <h1 class="welcome">Welcome to AppBooster!</h1>
        <div class="row-fluid">
            <div class="description">
                <div class="alert alert-block" style="text-align:left">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p><b>Notice:</b></p>
                    <p>You need to have Purdue account to use this app!</p>
                </div>
                {% if not request.user.is_authenticated %}
                    <p>
                    <a href="{% url 'register' %}" class="btn btn-large">Register Now »</a>
                    <a href="{% url 'login' %}" class="btn btn-inverse btn-large">Sign In »</a>
                    </p>
                {% else %}
                    <p><a href="{% url 'dashboard' %}" class="btn btn-inverse btn-large">My Dashboard »</a></p>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        $(function() {
            $('.close').click(function(e) {
                e.preventDefault();
                $.cookie('alertbox-closed', true, {path: '/', expires: 3650});
            });

            if ($.cookie('alertbox-closed')) {
                $('.alert').hide();
            }
        });
    </script>
{% endblock %}
